.cart-list-container-visibility-true {
    margin: 0;
    padding: 10px 20px 100px 20px;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: fixed;
    top: 0%;
    right: 0%;
    color: white;
    background-color: rgb(13, 17, 23);
    overflow-y: auto;
    transition: right 0.3s ease;
}

.cart-list-container-visibility-false {
    margin: 0;
    padding: 10px 20px 100px 20px;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    position: fixed;
    top: 0%;
    right: -50%;
    color: white;
    background-color: rgb(13, 17, 23);
    overflow-y: auto;
    transition: right 0.3s ease;
}

.cart-icon {
    cursor: pointer;
}

.close-icon {
    font-size: 2em;
    align-self: flex-start;
    cursor: pointer;
}

.cart-item {
    margin-top: 10px;
    padding: 5px;
    height: 80px;
    width: 80%;
    border: 1px solid white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.cart-item-image-container {
    width: 20%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

.cart-item-image-container img {
    height: 100%;
}

.cart-item-description-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-quantity {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.item-quantity p {
    margin-right: 5px;
}

.delete-icon {
    cursor: pointer;
}