.auth-form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.log-in-form-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.7);
}

.logIn-form {
    width: 80%;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.logIn-form h2 {
    margin: 0
}

.logIn-form div {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 10px 0px 10px 0px;
}

.logIn-form div label {
    text-align: left;
    width: 100px;
}

.logIn-form div input {
    max-width: 290px;
    width: 100%;
}

.login-submit {
    margin: 20px 0 10px 0;
    padding: 5px 0 5px 0;
    width: 100%;
    max-width: 120px;
    border: 1px solid black;
    border-radius: 10px;
}

.user-profile-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.user-profile-container p {
    align-items: center;
}

.user-profile-container p span {
    font-weight: bolder;
}

.user-profile-container button {
    margin-left: 10px
}

.error-credentials {
    color: red;
}