.ProductCardContainer {
    width: 80%;
    margin: 100px 0 50px 0;
    height: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 25% 25% 25%;
    column-gap: 20px;
    row-gap: 20px;
}

.productCard {
    padding: 10px;
    min-height: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #F8F6F1;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease all;
}

.productCard:hover {
    background-color: #BDB3B2;
}

.productCard h5, p{
    padding: 0;
    margin: 2px 0;
}

.product-title{
    padding: 0;
    margin: 2px 0;
    height: 20px !important;
    width: 100% !important;
    min-width: 100px;
    min-height: 0px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.productCard div {
    margin: 5px 0;
    height: 60%;
    min-height: 60%;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.productDescription {
    margin-top: 10px;
    font-size: 0.8em;
    overflow: hidden;
}

.add-button {
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-button:hover{
    color: white;
}

@media (min-width: 480px) and (max-width: 770px) {
    .ProductCardContainer{
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 479px){
    .ProductCardContainer{
        width: 90%;
        margin-top: 140px;
        grid-template-columns: 100%;
    }
}