nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    background-color: blue;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    width: 50%;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: initial;
}

.logo {
    width: 50%;
}